*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d6d4e2;
    width: 100%;
    height: 100%;
}

.container{
    background-color: #fff;
    width: 25%;
    margin: 0 auto;
    margin-top: 13rem;
    display: flex;
    padding: 1rem;
    border-radius: 15px;
}

.text{
    margin-left: 1rem;
}


@media (min-width: 300px){
    .container{
        display: flex;
        flex-direction: column;
        width: 55%;
        align-items: center;
        justify-content: center;
    }

    .text{
        text-align: center;
    }
}


@media (max-width: 300px){
    .container{
        display: flex;
        flex-direction: column;
        width: 55%;
        align-items: center;
        justify-content: center;
    }

    .text{
        text-align: center;
    }
}

@media (min-width: 554px){
    .container{
        background-color: #fff;
        width: 25%;
        margin: 0 auto;
        margin-top: 13rem;
        display: flex;
        padding: 1rem;
        border-radius: 15px;
        flex-direction: row;
    }
    
    .text{
        text-align: start;
    }
}